@use './mixins/screen.scss' as bp;

.container-fluid{
    @include bp.media-screen(mobile){
        height: 700px;
    }
}

.h-md-100{
     @include bp.media-screen(mobile){
        height: 100%;
    }
}

#main-banner{
    img{
        @include bp.media-screen(mobile){
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }

    .slogan {
        color: white;
        font-weight: bold !important;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        max-width: 500px;

        @include bp.media-screen(mobile){
            max-width: 100%;
            justify-content: center;
        }

        h2{
            font-weight: bold;
            font-size: 72px;
            font-family: 'Aileron';
            padding-left: 48px;
            margin-bottom: 0;

            @include bp.media-screen(mobile){
                font-size: 48px;
                padding: 0;
            }
        }
    }
}

.bg-yellow {
    background-color: #f2a033;
}

#nosotros{
    font-family: 'Aileron';
    padding: 28px 14px;
    margin: 0;
    height: auto;

    .text{
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        bottom: 10px;
        align-items: center;
        position: absolute;

         @include bp.media-screen(mobile){
            position: inherit;
            margin-bottom: 30px;
        }   

         h2{
            font-size: 42px;

            @include bp.media-screen(mobile){
                font-size: 32px;
                padding: 0;
                margin: 0 0 8px 0;
            }
        }

        p{
            font-size: 24px;

            @include bp.media-screen(mobile){
                font-size: 16px;
            }
        }

        a{
            text-decoration: none;
            background: #0e1648;
            width: auto;
            height: auto;
            color: #ffffff;
            padding: 4px 8px;
            border-radius: 8px;
            font-weight: 400;
        }
    }

    .images{
        .thunder{
            @include bp.media-screen(mobile){
                display: none;
            }    
        }

        img{
            max-width: 480px;

            @include bp.media-screen(mobile){
                max-width: 100%;
            }   
        }
    }
}

.services{
    .bg-lightning{
        display: flex;
        justify-content: center;
        align-items: center;
        
        h2{
            font-size: 42px;
            color: #ffffff;
            position: absolute;
            margin: 0;
            font-weight: 700;
        }
    }

    &__options{
        max-width: 1140px;
    }
}
